/*Reset*/
:root {
    --faux-blue-magenta-violete: #564091;
    --faux-may-green: #31913A;
    --faux-medium-purple: #9378DE;
    --faux-kiwi: #A2DE4B;
    --cultured: #f5f5f5;
    --faux-illuminating-emerald: #399173;
    --faux-medium-aquamarine: #6DDEB6;
}

* {
    box-sizing: border-box;
    outline: none;
}

/*Tags*/

html, body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

header, nav, main, footer, aside {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--cultured);
    cursor: pointer;
}

a:hover {
    color: orangered;
}

/*Estrutura do Template*/

.wrap {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#terms {
    display: none;
}

#terms div {
    background: var(--faux-blue-magenta-violete);
    color: var(--cultured);
    border: 1px solid var(--faux-medium-purple);
    margin-bottom: 0.4rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-size: 0.85rem;
    text-align: justify;
}

#terms p {
    margin: 0;
}

.terms-btn {
    display: flex;
    justify-content: flex-end;
}

.terms-btn-btn {
    color: var(--faux-illuminating-emerald);
    float: right;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    width: 5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.terms-btn-btn:first-child {
    background: var(--faux-may-green);
    margin-right: 0.4rem;
}

.terms-btn-btn:last-child {
    background: var(--faux-medium-purple);
}


main {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 0.3rem;
    background:var(--faux-blue-magenta-violete);
}

header i {
    font-size: 2rem;
    color: var(--faux-medium-purple);
    -webkit-text-stroke: #fff 1px;
    -moz-text-stroke:  #fff 1px;
   
}

header h1 {
    font-size: 1.5rem;
    margin: 0 0 0 1rem;
    color:var(--cultured);
    text-shadow: 1px 1px var(--faux-medium-purple);
}

header small {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .13rem;
    color: var(--faux-medium-purple);
}

nav {
    background: var(--faux-blue-magenta-violete) ;
    filter: brightness(90%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color:var(--cultured);
    filter: brightness(100%);
    font-size: .9rem;
    padding: .5rem 1rem;
    text-align: center;
}

nav a:hover {
    color:#18121e;
    background:var(--faux-medium-purple) ;
}

nav a:first-child {
    margin-right: auto;
}

nav span {
    display: block;
}

footer {
    display: none;
    background: var(--faux-medium-purple);
    color: var(--cultured) ;
    text-align: center;
    font-size: .8rem;
    padding: .4rem;
}

@media (min-width: 575px) {
    
    header {order: 1;} 

    nav {order: 2;}

    main{order: 3;} 
    
    footer {
        display: block;
        order: 4;
    }

}